.header {
  border-bottom: 2px solid var(--color-light);
  margin-bottom: 32px;
  margin-top: -32px;
  padding-bottom: 16px;
  overflow-x: hidden;
  .img {
    border-radius: var(--border-radius);
    margin-bottom: 32px;
    img {
      border-radius: var(--border-radius);
    }
  }
  p {
    font-weight: var(--fontWeight-semibold);
  }
}
.headerInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 16px;
  overflow-x: auto;
  white-space: nowrap;
}
.headerInfo p {
  flex-shrink: 0;
  margin-top: 16px;
  margin-bottom: 0;
  color: var(--color-text-light);
  font-weight: 600;
}
.bottomNav {
  list-style-type: none;
}
.next {
  display: block;
  text-align: right;
}
.previous {
  display: block;
}
