/* CSS Custom Properties Definitions */
:root {
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --border-radius: 16px;
  --padding: 16px;
  --fontFamily-sans: "Open SansVariable", sans-serif;
  --fontFamily-mono: "JetBrains MonoVariable", monospace;
  --font-body: var(--fontFamily-sans);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  --fontSize-0: 14px;
  --fontSize-1: 16px;
  --fontSize-2: 18px;
  --fontSize-3: 24px;
  --fontSize-4: 28px;
  --fontSize-5: 32px;
  --fontSize-6: 48px;
  --fontSize-7: 64px;
  --color-primary: #20768e;
  --color-primary-rgb: 32, 118, 142;
  --color-text: #000000;
  --color-text-secondary: #3d3d4d;
  --color-text-light: #4b5561;
  --color-text-cloud: #0f3d36;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-light: #e6e6e6;
  --color-background: #f6f8f7;
}
[data-theme="dark"] {
  --color-primary: #4fc5cd;
  --color-primary-rgb: 79, 197, 205;
  --color-text: #ffffff;
  --color-text-secondary: #d8d8e7;
  --color-text-light: #a5b0c2;
  --color-text-cloud: #c7f0ea;
  --color-heading: #f2f3f6;
  --color-heading-black: white;
  --color-light: #2e313a;
  --color-background: #1f242a;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
  transition: 200ms background;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  background: var(--color-background);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-4);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
  font-weight: var(--fontWeight-black);
}

h3 {
  font-size: var(--fontSize-3);
}

h4 {
  font-size: var(--fontSize-2);
}

h5 {
  font-size: var(--fontSize-1);
}

h6 {
  font-size: var(--fontSize-0);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  color: var(--color-text-secondary);
  font-size: var(--fontSize-2);
  font-weight: var(--fontWeight-medium);
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  color: var(--color-text-secondary);
  font-weight: var(--fontWeight-medium);
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}
li {
  font-size: var(--fontSize-2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  width: 100%;
  margin: 0;
  color: var(--color-text-light);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-0);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
  background: rgba(var(--color-primary-rgb), 0.1);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

blockquote p {
  color: var(--color-text-cloud);
  padding: 16px;
  font-style: normal;
  font-size: var(--fontSize-2);
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

img {
  width: 100%;
  transition: 0ms ease border;
}
img + em {
  text-align: center;
  display: block;
  margin-top: 8px;
}
address {
  font-style: normal;
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}
/* Custom classes */
.btn {
  display: inline-block;
  text-decoration: none;
  border: 0;
  padding: 12px 20px;
  border-radius: 100px;
  background: rgba(var(--color-primary-rgb), 0.1);
  color: var(--color-primary);
  font-weight: var(--fontWeight-bold);
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.btn-alt {
  display: inline-block;
  text-decoration: none;
  padding: 12px 20px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
  border-radius: 100px;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
.arrow-link {
  margin-top: 4px;
  text-decoration: none;
  display: inline-block;
  font-size: var(--fontSize-2);
  font-weight: var(--fontWeight-semibold);
  display: flex;
  align-items: center;
  svg {
    margin-top: 2px;
    margin-left: 4px;
  }
  &:hover {
    opacity: 0.6;
  }
}
.page {
  margin: 0 auto;
  max-width: 864px;
}
.wrapper {
  margin: 0 16px;
  display: grid;
      grid-template-columns: [full-start] var(--padding) [wrapper-start] minmax(32px, 832px) [wrapper-end] var(--padding) [full-end];
}
.wrapper > * {
  grid-column: wrapper;
}
.wrapper > .full-width {
  grid-column: full;
}
.masterContainer {
  min-height: 100vh;
}
.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}
.gatsby-highlight + p em {
  text-align: center;
  display: block;
  margin-top: -16px;
}
.avatar-card {
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  position: relative;
  border-radius: var(--border-radius);
  background: linear-gradient(180deg, hsla(0, 100%, 67%, 1) 0%, hsla(0, 100%, 89%, 1) 100%);
  margin-bottom: 32px;
  .btn-alt {
    display: block;
    text-align: center;
    border-radius: 12px;
  }
}
.avatar-card-left {
  padding: var(--padding);
  width: 100%;
}
.avatar-card-right {
  position: relative;
  height: 400px;
  width: 100%;
}
.scene {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 392px;
  animation: fadin 1s;
}
.desc {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text-secondary)
}
.desc-alt {
  color: #ffffff;
}
.banner {
  object-fit: contain;
  width: 100%;
  border-radius: var(--border-radius);
  margin-bottom: 32px;
}
.bannerImg {
  border-radius: var(--border-radius);
}
.cloud {
  display: inline-block;
  margin: 64px 0;
  width: 100%;
  padding: 32px;
  background: rgba(var(--color-primary-rgb), 0.1);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  h2 {
    margin: 0;
  }
  p {
    margin: 16px 0 0 0;
    color: var(--color-text-cloud);
  }
}
.markdown-body {
  ul,
  ol {
    width: 100%;
    padding: 32px;
    border: 1px solid var(--color-text-light);
    border-radius: var(--border-radius);
    li {
      margin-left: var(--spacing-5);
    }
    :last-child {
      margin-bottom: 0;
    }
  }
  img {
    max-height: 600px;
    object-fit: contain;
  }
}
/* Media queries */
@media (min-width: 600px) {
  :root {
    --padding: 32px;
    --border-radius: 32px;
  }
  h1 {
    font-size: var(--fontSize-6);
  }
  .wrapper {
    grid-template-columns: [full-start] var(--padding) [wrapper-start] minmax(0, 800px) [wrapper-end] var(--padding) [full-end];
  }
  .avatar-card {
    overflow: visible;
    -webkit-mask-image: none;
    background: linear-gradient(90deg, hsla(0, 100%, 67%, 1) 0%, hsla(0, 100%, 89%, 1) 100%);
  }
  .avatar-card-left {
    width: 50%;
  }
  .avatar-card-right {
    pointer-events: none;
    overflow: hidden;
    width: 68%;
    height: 150%;
    border-bottom-right-radius: 32px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .scene {
    border-bottom-right-radius: 32px;
    width: 100%;
    height: 400px;
    right: -52px;
  }
}
@media (max-width: 42rem) {
  blockquote {
    padding: 0;
    margin-left: 0;
  }
}

// Fade in animation with keyframes
@keyframes fadin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
